<div class="container">
<h1 class= "text-center mt-5">Create a new flat</h1>
  <div class="row m-auto w-50 mt-5 mb-2 bg-white p-4 rounded-2 shadow">
    <%= simple_form_for(@flat)do|f|%>
      <%= f.input :name, label: "Nom"%>
      <%= f.input :address,
          input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
          wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
      <%= f.input :detail%>
      <%= f.input :price_per_night, label: "Prix par nuit"%>
      <%= f.input :number_of_guests, label: "Nombre de personnes"%>
      <%= f.submit "Ajouter", class: "btn btn-large btn-primary"%>
    <%end%>
  </div>
</div>
