<div class="container">
  <h1>Welcome to <%= @flat.name %></h1>
  <div style="width: 100%; height: 200px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="main-container">
    <div class="card-flat col-sm-8 col-lg-8 mx-1 my-2">
      <div class="card-info text-center my-2">
      <strong><%= @flat.name %></strong>
      <br>
      <%= @flat.address %>
      <br>
      </div>
      <div class="card-info text-center my-2">
      <strong><%= @flat.detail %></strong>
      </div>
      <div class="card-icons m-2 my-2 text-center">
        <div class="item">
        <i class="fa-solid fa-user"></i>
        <%= @flat.number_of_guests %>
        </div>
        <div class="item">
        <i class="fa-solid fa-euro-sign"></i>
        <%= @flat.price_per_night %>
        </div>
      </div>
    </div>
    <div class="book col-sm-4 col-lg-4 mx-1 my-2">
      <form action="">
        <div class="input-group">
          <span class="input-group-text" id="start-date-label">From:</span>
          <input type="text" class="form-control" placeholder="12/10/2017" aria-label="start-date" aria-describedby="start-date-label">
        </div>
        <div class="input-group mt-2">
          <span class="input-group-text" id="end-date-label">To:</span>
          <input type="text" class="form-control" placeholder="18/10/2017" aria-label="end-date" aria-describedby="start-date-label">
        </div>
        <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
      </form>
    </div>
  </div>
</div>
